:root {
  --Light-red: hsla(0, 100%, 67%, 0.1);
  --Orangey-yellow: hsla(39, 100%, 56%, 0.1);
  --Green-teal: hsla(166, 100%, 37%, 0.1);
  --Cobalt-blue: hsla(234, 85%, 45%, 0.1);

  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Pale-blue);
}
p {
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 650px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 2rem;
  background-color: var(--White);
}

/*Result Card */
.result {
  width: 50%;
  background: linear-gradient(
    to bottom,
    var(--Light-slate-blue),
    var(--Light-royal-blue)
  );
  padding: 2rem;
  border-radius: 2rem;
  color: var(--White);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.result .title {
  font-size: 20px;
  font-weight: 600;
  color: var(--Light-lavender);
  margin-bottom: 1rem;
}

.result .circle {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    var(--Violet-blue),
    var(--Persian-blue)
  );
}

.result .circle h1 {
  font-size: 60px;
  color: var(--White);
}

.result .circle p {
  color: var(--Light-lavender);
  font-size: 14px;
}

.result .great {
  color: var(--White);
  font-size: 28px;
  font-weight: 600;
  margin-top: 1rem;
}

.result p:last-child {
  text-align: center;
  width: 220px;
  font-size: 16px;
  color: var(--Light-lavender);
  margin-bottom: 0.3rem;
}

.summary {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.summary .summary-title {
  font-size: 20px;
  font-weight: 800;
  color: var(--Dark-gray-blue);
  margin-bottom: 1rem;
}

.summary .item-grp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 0.6rem;
}

.item-grp p {
  font-size: 16px;
  font-weight: 800;
  color: hsla(224, 30%, 27%, 0.4);
}

.item {
  display: flex;
  gap: 0.5rem;
  padding: 0.1rem 0;
}

.item span {
  font-weight: 600;
}

.red {
  background-color: var(--Light-red);
  color: hsl(0, 100%, 67%);
}

.yellow {
  background-color: var(--Orangey-yellow);
  color: hsl(39, 100%, 56%);
}

.green {
  background-color: var(--Green-teal);
  color: hsl(166, 100%, 37%);
}

.blue {
  background-color: var(--Cobalt-blue);
  color: hsl(234, 85%, 45%);
}

#no {
  font-size: 16px;
  color: black;
}

#continue {
  margin-top: auto;
  padding: 0.9rem;
  background-color: var(--Dark-gray-blue);
  color: var(--White);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 15rem;
  cursor: pointer;
}

#continue:hover {
  background: linear-gradient(
    to bottom,
    var(--Light-slate-blue),
    var(--Light-royal-blue)
  );
}

@media screen and (max-width: 650px) {
  body {
    align-items: flex-start;
    background-color: white;
  }
  .container {
    box-shadow: none;
    flex-direction: column;
  }
  .result {
    width: 100%;
    border-radius: 0 0 2rem 2rem;
  }
  .summary {
    width: 100%;
  }
}
